:root {
  --grid-columns: 1;
  --grid-rows: 1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(white, orange);
  min-height: 100vh;
  overflow: hidden;
}
h1 {
  color: rgba(0, 0, 0, 0.8);

  padding: 15px;
  margin-top: 15px;
}
.container {
  border: 3px solid orange;
  height: 600px;
  width: 600px;
  border-radius: 5px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(var(--grid-rows), 1fr);
  grid-template-rows: repeat(var(--grid-columns), 1fr);
  box-shadow: 1px 0px 5px orange;
}
.grid-style {
  border: 1px solid rgba(238, 236, 236, 0.6);
  text-align: center;
  height: auto;
  width: auto;
  display: inline-block;
}

.all-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
}
.btn-sketch,
.btn-eraser {
  text-decoration: none;
  width: 120px;
  background-color: orange;
  margin: 15px;
  padding: 20px 0px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 0px 5px white;
  text-shadow: 0.5px 0.5px 1px black;
}
.btn-sketch:hover,
.btn-eraser:hover {
  background-color: rgba(255, 165, 0, 0.2);
  transform: scale(1.02);
}

footer {
  margin-top: auto;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 3px black;
}

.erase {
  background-color: rgba(0, 0, 0, 0);
}
